<!-- Landing Page HTML -->


<br><br>

<div class="image-slider">
  <div class="image-container">
    <div class="image-wrapper" *ngFor="let item of randomItems; let i = index" (click)="setActiveImage(i)">
      <img [src]="'../assets/images/'+ item.item_imgpath" [@imageState]="getImageState(i)" alt="Product Image">
      <div class="image-info" *ngIf="i === activeImageIndex" [@imageState]="getImageState(i)">
        <h3>{{ item.item_name }}</h3>
        <p>Price: {{ item.item_price }}</p>
        <a class="item-link" [routerLink]="'items/' + item.item_ID">View Item</a>
      </div>
    </div>
  </div>
  <div class="thumbnails">
    <div *ngFor="let item of randomItems; let i = index" (click)="setActiveImage(i)">
      <img [src]="'../assets/images/'+ item.item_imgpath" [class.active]="i === activeImageIndex">
    </div>
  </div>
</div>

<div class="topics">
  <ul>
    <li><a (click)="changeCategory('Art')">Art</a></li>
    <li><a (click)="changeCategory('Electronics')">Electronics</a></li>
    <li><a (click)="changeCategory('Fashion')">Fashion</a></li>
    <li><a (click)="changeCategory('Science')">Science</a></li>
    <li><a (click)="changeCategory('Tools')">Tools</a></li>
    <li><a (click)="changeCategory('Toys')">Toys</a></li>
    <li><a (click)="changeCategory('Health')">Health</a></li>
    <li><a (click)="changeCategory('Food')">Food</a></li>
  </ul>
</div>

<!-- Diverse Images Section -->
<div class="diverse-images-section">
  <div class="image-card" *ngFor="let item of selectedCategoryItems">
    <a [routerLink]="'items/' + item.item_ID">
    <!-- <img [src]="'../assets/images/' + item.item_imgpath" [alt]="item.item_name" (click)="handleCategoryImageClick()">--->
      <img [src]="'../assets/images/' + item.item_imgpath" [alt]="item.item_name">
    </a>
  </div>


    <div class="image-card">
        <img [src]="'../assets/images/forwardButton.jpg'" [alt]="'Click here for more products!'" (click)="handleCategoryImageClick()" >
    </div>
  
</div>

