<!-- Landing Page HTML -->

<!-- Menu -->
<nav class="menu">
    <ul>
        <li *ngIf="!isLoggedIn"><button (click)="handleLoginClicked()">Login</button></li>
        <li *ngIf="!isLoggedIn"><button (click)="handleRegisterClicked()">Register</button></li>
        <li *ngIf="isLoggedIn" ><button (click)="handleLogoutClicked()">Logout</button></li>
        <!--<li><a href="#">About Us</a></li>-->
    </ul>
</nav>

<br><br>

<div class="image-slider">
  <div class="image-container">
    <div class="image-wrapper" *ngFor="let item of items; let i = index" (click)="setActiveImage(i)">
      <img [src]="'../assets/images/'+ item.item_imgpath" [@imageState]="getImageState(i)" alt="Product Image">
      <div class="image-info" *ngIf="i === activeImageIndex" [@imageState]="getImageState(i)">
        <h3>{{ getProductInfo().item_name }}</h3>
        <p>Price: {{ getProductInfo().item_price }}</p>
        <a class="item-link" [routerLink]="'items/' + getProductInfo().item_ID">View Item</a>
      </div>
    </div>
  </div>
  <div class="thumbnails">
    <div *ngFor="let item of items; let i = index" (click)="setActiveImage(i)">
      <img [src]="'../assets/images/'+ item.item_imgpath" [class.active]="i === activeImageIndex">
    </div>
  </div>
</div>

<div class="topics">
  <ul>
    <li><a href="#">Art</a></li>
    <li><a href="#">Electronics</a></li>
    <li><a href="#">Fashion</a></li>
    <li><a href="#">Science</a></li>
    <li><a href="#">Tools</a></li>
    <li><a href="#">Toys</a></li>
    <li><a href="#">Health</a></li>
</ul>
</div>


<!-- Diverse Images Section -->
<div class="diverse-images-section">
    <div class="image-card">
        <a href="item1.html">
            <img src="../assets/images/gravifree.jpg" alt="Item 1">
        </a>
    </div>
    <div class="image-card">
        <a href="item2.html">
            <img src="../assets/images/toolstax_nii.jpg" alt="Item 2">
        </a>
    </div>
    <div class="image-card">
        <a href="item3.html">
            <img src="../assets/images/h2o2o.jpg" alt="Item 3">
        </a>
    </div>
    <!-- Add more diverse images and links as needed -->
</div>
