<button class="add-button">Neuen Artikel hinzufügen</button>
<table>
    <thead>
      <tr>
        <th>Produkt</th>
        <th>Fotos</th>
        <th>Beschreibung</th>
        <th>Preis</th>
        <th>Im Lager</th>
        <th>Kategorien</th>
        <th>Aktion</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of products">
            <td>{{ product.name }}</td>
            <td>
                <div class="image-container">
                  <img *ngFor="let picture of product.pictures" [src]="'assets/images/' + picture" alt="Product Image" class="product-image" />
                </div>
            </td>
          <td>{{ product.description }}</td>
          <td>${{ product.price}}</td>
          <td>
            <div class="quantity">
              <button class="decrement">-</button>
              <input type="number" [value]="product.storeQuantity">
              <button class="increment">+</button>
            </div>
          </td>
          <td>
            <div *ngFor="let category of product.categories" class="category">{{ category }}</div>
          </td>
          <td>
            <div class="action-icons">
              <button class="edit-btn"><i class="fas fa-edit"></i></button>
              <button class="delete-btn"><i class="fas fa-trash"></i></button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
