<div class="table">
  <div class="table_header">
    <p>Stock</p>
    <button class="add_button">+ Add new item</button>
  </div>
  <div class="table_section">
    <table>
      <thead>
        <tr>
          <th>Item</th>
          <th>Images</th>
          <th>Price</th>
          <th>In Store</th>
          <th>Categories</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
          <tr *ngFor="let product of products">
              <td>{{ product.name }}</td>
              <td>
                  <div class="image-container">
                    <img [src]="'assets/images/' + product.picture" alt="Product Image" class="product-image" />
                  </div>
              </td>
            <td>${{ product.price}}</td>
            <td>
              <div class="quantity">
                <button class="decrement">-</button>
                <input type="number" [value]="product.quantity">
                <button class="increment">+</button>
              </div>
            </td>
            <td>
              <div *ngFor="let category of product.categories" class="category">{{ category }}</div>
            </td>
            <td>
              <div class="action-icons">
                <button class="edit-btn"><i class="fas fa-edit"></i></button>
                <button class="delete-btn"><i class="fas fa-trash"></i></button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
  </div>
</div>
