.search-input {
  width: 300px;
  height: 40px;
  padding: 10px;
  border-radius: 5px;
  background-color: #ffffff;
  color: #333333;
  font-size: 16px;
  margin-right: 10px;
  margin-left: 20px;
  border: 1px solid #333;
}

.manage-categories-button {
  margin-right: 8px;
}

.table_section {
  height: 650px;
  overflow: auto;
  table-layout: fixed;
}

thead th {
  position: sticky;
  top: 0;
  background-color: #7EB63D;
  color: white;
  font-size: 15px;
}

th,
td {
  border-bottom: 1px solid #dddddd;
  padding: 10px 20px;
  text-align: center;
  word-break: break-all;
}

td:first-child {
  font-weight: bold;
  font-size: large;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: none;
  padding-bottom: 0;
}

.image-container {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: center;
}

.product-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 15px;
}

.quantity {
  display: flex;
  align-items: center;
  justify-content: center;
}

.quantity input[type="number"]::-webkit-inner-spin-button,
.quantity input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
  display: none;
}

.quantity .decrement,
.quantity .increment {
  padding: 5px 10px;
  border: none;
  background-color: #839788;
  color: #ffffff;
  font-size: 14px;
  cursor: pointer;
}

.quantity .decrement:hover,
.quantity .increment:hover {
  background-color: #627274;
}

.decrement:hover,
.increment:hover {
  background-color: #f2f2f2;
}

input[type="number"] {
  width: 80px;
  padding: 5px;
  border: none;
  text-align: center;
  min-width: 40px;
}

.category {
  display: inline-block;
  margin-right: 5px;
  padding: 3px 8px;
  border-radius: 5px;
  background-color: #f2f2f2;
  font-size: 21px;
  color: #333333;
  margin-bottom: 3px;
}

.action-icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.edit-btn,
.delete-btn {
  background-color: #f2f2f2;
  border: none;
  padding: 8px 16px;
  margin: 5px 0;
  cursor: pointer;
  display: block;
  width: 100%;
  margin-bottom: 5px;
  border-radius: 6px;
}

.edit-btn:hover {
  color: #97DB4F;
}

.delete-btn:hover {
  color: #F96F5D;
}