.table {
    min-width: 100vw;
    font-size: 21px;
}

table{
  width: 100%;
  border-collapse: collapse;
}

.table_section {
  height: 650px;
  overflow: auto;
  table-layout: fixed;
}

thead th {
  position: sticky;
  top: 0;
  background-color: #7EB63D;
  color: white;
  font-size: 15px;
}

th,
td {
  border-bottom: 1px solid #dddddd;
  padding: 10px 20px;
  text-align: center;
  word-break: break-all;
}

td:first-child {
  font-weight: bold;
  font-size: large;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: none;
  padding-bottom: 0;
}
  
.table_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: rgba(131, 151, 136, 0.2);
}
  
.table_header p {
  font-weight: bold;
  font-size: xx-large;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

th {
  background-color: #f2f2f2;
  font-weight: bold;
}

td:nth-child(1),
td:nth-child(3) {
word-break: normal;
overflow-wrap: break-word;
}

td:nth-child(3) {
font-size: small;
max-width: 150px;
}

td:nth-child(4),
td:nth-child(6) {
min-width: 170px;
font-size: medium;
}