<div class="login-container">
    <h4>Anmelden</h4>

    <form [formGroup]="form">

        <div class="email-input">
            <label for="username">Username</label>
            <input type="username" id="username" name="username" formControlName="username"
                (input)="handleUsernameValueChange($event)">
        </div>
        <div class="password-input">
            <label for="password">Passwort</label>
            <input type="password" id="passowrd" formControlName="password" (input)="handlePasswordValueChange($event)">
        </div>

    </form>
    <div class="buttons">
        <button class="login-btn" (click)="handleLogin()">Anmelden</button>
        <p>Neuer Kunde?</p>
        <button class="register-btn" (click)="handleRegisterClicked()">Konto anlegen</button>

    </div>
   

    <!--<p class="error" *ngIf="formHatFehler">Bitte prüfen Sie Ihre Angaben</p>          TODO: wieder auskommentieren -->
</div>