<h5 class="login-header">Welcome to Spacesavers' Shop</h5>

<div class="login-container">
    <h4>Sign in</h4>
    <br> 

    <div class="user-type-select">
        <label for="user-type">User Type:</label>
        <select id="user-type" (input)="handleUserTypeValueChange($event)">
            <option value="true">Employee</option>
            <option value="false">Customer</option> 
        </select>
    </div>
    <br>
    <br>
    

    <form [formGroup]="form" *ngIf="!isEmployee">  
        <div class="email-input">
            <label for="username">Username</label>
            <input type="username" id="username" name="username" formControlName="username"
                (input)="handleUsernameValueChange($event)">
        </div>
        <div class="password-input">
            <label for="password">Password</label>
            <input type="password" id="passowrd" formControlName="password" (input)="handlePasswordValueChange($event)">
        </div> 
    </form>

    <form [formGroup]="formEmployee" *ngIf="isEmployee">  
        <div class="email-input">
            <label for="email">Email</label>
            <input type="email" id="email" name="email" formControlName="email"
                (input)="handleEmailValueChange($event)">
        </div>
        <div class="password-input">
            <label for="password">Password</label>
            <input type="password" id="passowrd" formControlName="password" (input)="handlePasswordValueChange($event)">
        </div> 
    </form>
 
    <div class="buttons">
        <button class="login-btn" (click)="handleLogin()">Sign in</button>
        <p *ngIf="!isEmployee">New Customer? <a (click)="handleRegisterClicked()">Create Account</a></p>
    </div>
   <!--<p class="error" *ngIf="formHatFehler">Bitte prüfen Sie Ihre Angaben</p>          TODO: wieder auskommentieren -->
</div>