<div class="product-form">
  <h2>{{ isEditing ? 'Edit Product' : 'Add Product' }}</h2>
  <form>
    <div class="form-row">
      <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" [(ngModel)]="editedProduct.item_name" required>
      </div>
      <div class="form-group">
        <label for="description">Description:</label>
        <input type="text" id="description" name="description" [(ngModel)]="editedProduct.item_description">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group">
        <label for="price">Price:</label>
        <input type="number" id="price" name="price" [(ngModel)]="editedProduct.item_price" required>
      </div>
      <div class="form-group">
        <label for="bestBeforeDate">Best Before Date:</label>
        <input type="date" id="bestBeforeDate" name="bestBeforeDate"  [value]="editedProduct.best_before" (input)="handleDateChange($event)"/>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group">
        <label for="quantity">Quantity:</label>
        <input type="number" id="quantity" name="quantity" [(ngModel)]="editedProduct.stock" required>
      </div>
      <div class="form-group">
        <label for="picture">Picture:</label>
        <input type="file" id="file" name="file" (change)="handleFileUpload($event)">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group">
        <div class="categories-container">
          <ng-container *ngFor="let category of categories">
            <label class="checkbox-label">
              <input type="checkbox" [checked]="category.selected" (change)="updateCategorySelection(category.category_name, checkbox.checked)" #checkbox />
              <span class="checkbox-custom"></span>
              <span class="checkbox-label-text">{{ category.category_name }}</span>
            </label>
          </ng-container>                           
        </div> 
      </div>
    </div>
    <div class="buttons">
      <button type="button" class="save-button" (click)="save()">Save</button>
      <button type="button" class="cancel-button" (click)="cancel()">Cancel</button>
    </div>
  </form>
</div>