<div class="filters">
  <label for="filterCategory">Filter by category:</label>
  <select id="filterCategory" [(ngModel)]="filterCategory" (change)="applyFilter()">
    <option value="">All Categories</option>
    <option *ngFor="let category of availableCategories" [value]="category">{{ category }}</option>
  </select>
  <button (click)="clearFilters()">Clear Filters</button>
  <button (click)="sortByBestBeforeDate()">Sort by Best Before Date</button>
</div>


<div class="stockpile-list">
  <table class="stockpile-table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Date</th>
        <th>Count</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let entry of stockpileItemEntries">
        <tr *ngFor="let bestBeforeDate of entry.bestBeforeDates">
          <td>{{ entry.product.name }}</td>
          <td>{{ bestBeforeDate.date !== null ? (bestBeforeDate.date | date) : '-' }}</td>
          <td>{{ entry.product.quantity }} Products</td>
          <td>
            <button (click)="deleteStockpileItem(entry.product)" class="deleteItem">Delete Consumed Item</button>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>

