
<header class="header">
   
  <nav class="menu">
    <ul>
      <li><a routerLink="warenübersicht" routerLinkActive="active" ariaCurrentWhenActive="page"><img src="./assets/images/logo.png"></a></li>
      <li *ngIf="!isLoggedIn"><button (click)="handleLoginClicked()">Sign in</button></li>
      <li *ngIf="!isLoggedIn"><button (click)="handleRegisterClicked()">Sign up</button></li>
      <li><a routerLink="warenübersicht" routerLinkActive="active" ariaCurrentWhenActive="page">Shop</a></li>
      <li *ngIf="isLoggedIn && authService.userType === 'employee'"><a routerLink="dashboard" routerLinkActive="active" ariaCurrentWhenActive="page">Stock</a></li>
      <li *ngIf="isLoggedIn && authService.userType === 'customer'" ><a routerLink="stockpile" routerLinkActive="active" ariaCurrentWhenActive="page">Stockpile</a></li>
      <li *ngIf="isLoggedIn"><button (click)="handleLogoutClicked()">Logout</button></li>
    </ul>
  </nav>
</header>

<main>
  <div class="app-content">
    <router-outlet>
    </router-outlet>
  </div>
</main>

<footer class="footer">

</footer>

