
<header class="header">
    <nav>
      <ul>
        <li><a routerLink="order" routerLinkActive="active" ariaCurrentWhenActive="page">Checkout</a></li>
        <li><a routerLink="dashboard" routerLinkActive="active" ariaCurrentWhenActive="page">Dashboard</a></li>
        <li><a routerLink="warenübersicht" routerLinkActive="active" ariaCurrentWhenActive="page">Warenübersicht</a></li>
        <li><a routerLink="stockpile" routerLinkActive="active" ariaCurrentWhenActive="page">Stockpile</a></li>
        <li><a routerLink="testing" routerLinkActive="active" ariaCurrentWhenActive="page">Testing</a></li>

      </ul>
    </nav>
  <nav class="menu">
    <ul>
      <li *ngIf="!isLoggedIn"><button (click)="handleLoginClicked()">Login</button></li>
      <li *ngIf="!isLoggedIn"><button (click)="handleRegisterClicked()">Register</button></li>
      <li *ngIf="isLoggedIn"><button (click)="handleLogoutClicked()">Logout</button></li>
      <!--<li><a href="#">About Us</a></li>-->
    </ul>
  </nav>
</header>

<main>
  <div class="app-content">
    <router-outlet>
    </router-outlet>
  </div>
</main>

<footer class="footer">

</footer>

