<div class="flexBox">
    <h2>Your order will be spaceshipped to</h2>

    <p>{{ invoice.address?.street }}, {{ invoice.address?.houseNumber }}</p>
    <p>{{ invoice.address?.postalCode }} {{ invoice.address?.city }}</p>
    <p>{{ invoice.address?.country }}, {{ invoice.address?.planet }}</p>

    <form (ngSubmit)="submitForm()" #form="ngForm" class="formFlex">
        
        <!--NICE TO HAVE: Bezahlmethode soll geändert werden können-->

        <label for="methodOfPayment" class="label"><h2>Change your payment Method</h2></label>
        <select name="methodOfPayment" id="methodOfPayment" [(ngModel)]="invoice.methodOfPayment" required>
            <option value="" disabled>Change your payment method</option>
            <option value="creditCard">Credit Card</option>
            <option value="paypal">PayPal</option>
            <option value="bankTransfer">Bank Transfer</option>
          </select>

        <div class="buttonGroup">  
            <button type="submit" class="order_button">
                Order Now!
            </button>
            <button type="cancel" class="cancel_button" [disabled]="form.invalid"> 
                Cancel
            </button>
        </div> 
    </form>  
</div>