.button-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.square-button,
.current-page {
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  margin: 0 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-align: center;
}

.square-button {
  background-color: #73877B;
}

.current-page {
  background-color: #7EB63D;
}

.square-button:hover {
  background-color: #839788;
}

.product-list-container {
  height: 1000px;
  overflow-y: auto;
}

.product-container,
.product-item {
  background-color: #ffffff;
}
.product-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 90px; 
  grid-row-gap: 50px; 
  justify-items: center;
  margin-left: 90px;
  margin-right: 90px;
}

.product-item {
  width: 250px;
  height: 400px;
  padding-bottom: 50px;
  padding-top: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  text-align: center;
  background-color: #ffffff;
  transition: background-color 0.3s;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 768px) {
  .product-item {
    width: 100%;
    height: auto;
  }
}

.product-item:hover {
  background-color: #839788;
  cursor: pointer;
}

.product-image-container a {
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.product-image {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.product-name {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 5px;
  margin-left: 8px;
  margin-right: 8px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex-shrink: 0;
}

.price,
.stock {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.stock {
  opacity: 0.6;
  font-size: 14px;
}

.product-quantity {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: auto;
}

.add-to-cart-button {
  position: relative;
  display: flex;
  width: 150px;
  height: 40px;
  margin-top: 10px;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}