

<div *ngIf="item" class="item-details">
    <img [src]="'../assets/images/' + item.item_imgpath" [alt]="item.item_name">
    <div class="item-details-content">
        <h3 class="item-name">{{ item.item_name }}</h3>
        <p class="item-price">Price: {{ item.item_price | currency }}</p>
        <p class="item-description">Description: {{ item.item_description }}</p>
        <p class="item-stock">Stock: {{ item.stock }}</p>
        <p class="item-best-before">Best Before: {{ item.best_before }}</p>
        <p class="item-categories">Categories:</p>
        <ul class="categories-list">
            <li *ngFor="let category of item.categories" class="category">{{ category }}</li>
        </ul>
    </div>
</div>