.login-container {
    max-width: 400px;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.login-container h4 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
    font-size: 28px;
    font-weight: bold;
}

.login-container label {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
}

.login-container input[type="text"],
.login-container input[type="email"],
.login-container input[type="password"],
.login-container select {
    width: 100%;
    height: 40px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

.login-container .buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.login-container .register-btn,
.login-container .login-btn {
    width: 120px;
    height: 40px;
    margin: 0 10px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 5px;
    cursor: pointer;
}

.login-container .register-btn {
    background-color: #7EB63D;
    color: #fff;
    border: none;
}

.login-container .login-btn {
    background-color: #73877B;
    color: #fff;
    border: none;
}

.login-container .error {
    color: red;
    text-align: center;
    margin-top: 10px;
}
