<div class="login-container">
    <h4>Anmelden</h4>

    <form [formGroup]="form">

        <div class="name-input">
            <label for="username">Username</label>
            <input type="text" id="username" name="username" formControlName="username"
                (input)="handleUserNameValueChange($event)">
        </div>
        <div class="name-input">
            <label for="firstname">Firstname</label>
            <input type="text" id="firstname" name="firstname" formControlName="firstname"
                (input)="handleFirstNameValueChange($event)">
        </div>
        <div class="name-input">
            <label for="lastname">Lastname</label>
            <input type="text" id="lastname" name="lastname" formControlName="lastname"
                (input)="handleLastNameValueChange($event)">
        </div>
        <div class="email-input">
            <label for="email">E-Mail-Adresse</label>
            <input type="email" id="email" name="email" formControlName="email"
                (input)="handleEmailValueChange($event)">
        </div>
        <div class="password-input">
            <label for="password">Passwort</label>
            <input type="password" id="passowrd" formControlName="password" (input)="handlePasswordValueChange($event)">
        </div>
        <div class="zahlungsmethode-optionlist">
            <label for="methodofpayment">MethodofPayment</label>
            <select id="methodofpayment" formControlName="methodofpayment" (input)="handleZahlungsmethodeValueChange($event)">
                <option value="kreditkarte">Kreditkarte</option>
                <option value="debitkarte">Debitkarte</option>
                <option value="paypal">Paypal</option>
                <option value="applepay">Apple Pay</option>
            </select>
        </div>

    </form>
    <div class="buttons">
        

        <button class="register-btn" (click)="handleRegister()">Registrieren</button>
        <p>Bereits ein Kunde?</p>
        <button class="login-btn" (click)="handleLoginClicked()">Anmelden</button>

    </div>
   

    <p class="error" *ngIf="formHatFehler">Bitte prüfen Sie Ihre Angaben</p>
</div>